 <!-- Sidebar Navigation -->
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access - Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
</head>

<!-- Sidebar Navigation -->
    <div class="sidebar">
        <div class="sidebar-header">
           <img src="assets/images/logo.png" alt="DD Logo">
            <h2>Access System</h2>
        </div>
        <div class="sidebar-menu">
            <a routerLink="/dashboard" class="menu-item active">
                <i class="fas fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
            <a routerLink="/visits" class="menu-item">
                <i class="fas fa-calendar-check"></i>
                <span>Visits</span>
            </a>
            <a routerLink="/visitors" class="menu-item">
                <i class="fas fa-users"></i>
                <span>Visitors</span>
            </a>
            <a routerLink="/departements" class="menu-item">
                <i class="fas fa-building"></i>
                <span>Departments</span>
            </a>
            <a routerLink="/employees" class="menu-item">
                <i class="fas fa-user-shield"></i>
                <span>Employees</span>
            </a>
            <a routerLink="/companies" class="menu-item">
            <i class="fas fa-building"></i>
            <span>Companies</span>
            </a>

            <a routerLink="/suppliers" class="menu-item">
            <i class="fas fa-truck"></i>  
            <span>Suppliers</span>
            </a>

            <a routerLink="/settings" class="menu-item">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
            </a>
        </div>
    </div>