.logo {
    width: 60px; /* reduced from 90px */
    height: auto;
    filter: brightness(0) invert(1);
    display: inline-block;
    vertical-align: middle;
}
.logo-container {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

@media (max-width: 480px) {
    .logo {
        width: 10px; /* smaller on narrow screens */
    }
}